<div class="header">

  <div class="header__item-container">
    <div class="header__sidebar-toggle" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </div>

    <!-- <div class="header__logo">

    </div> -->

    <div class="header__title">
      Pokedex
    </div>
  </div>

  <div class="header__item-container">
    <div class="header__user__name">
<!--      John Doe-->
    </div>

    <div class="header__user__avatar">
<!--      <img [src]="avatarUrl">-->
    </div>
  </div>

</div>
